@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(17,19,25);
  /* background-color: #0C0C21; */
  color: #ffffff;
}
li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img{
  width: 100%;
}
